#root{
    width: 100vw;
    height: 100vh;
}

/* CSS FOR NAV BAR */
nav{
    display: flex;
    flex-direction: horizontal;
    width: 100vw;
    max-height: 100px;
    background-color: aqua;
}
nav button{
    position: absolute;
    left: 90vw;
    top: 10px;
    height: 50px;
}
.logo img{
    max-height: 100px;
}